/* =========================================backdrop================================================ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  scale: 1;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  scale: 0.2;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  padding: 44px 37px;

  background: var(--bk-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
}
/* .cross-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
} */
.button-cross {
  position: absolute;
  top: 12px;
  right: 12px;

  width: 30px;
  height: 30px;
  border: 1px solid #0000001a;
  border-radius: 50%;
  background-color: inherit;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button-cross::before,
.button-cross::after {
  content: '';

  position: absolute;

  display: block;
  height: 18px;
  width: 2px;
  background-color: black;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-cross:before {
  transform: rotate(45deg);
}
.button-cross:after {
  transform: rotate(-45deg);
}
.button-cross:hover:before,
.button-cross:hover:after {
  background-color: var(--accent-color);
}
/* .form-modal {
  padding: 0 32px;
} */
.form-title {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  color: var(--title-text-color);
}

.label-field {
  position: relative;
  display: flex;
  flex-direction: column;
}
.label-field + .label-field {
  margin-top: 10px;
}
.label-field:nth-child(5) {
  display: block;
}
.label-title {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}
.label-input {
  height: 40px;
  width: 100%;

  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;

  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label-input:focus {
  border: 1px solid var(--accent-color);
}
.label-input:focus + .modal-icon {
  fill: var(--accent-color);
}
.modal-icon {
  position: absolute;

  bottom: 14px;
  left: 14px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea {
  height: 120px;
  padding: 12px 16px;
}
textarea::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.label-field.checkbox-container {
  margin-top: 20px;

  font-size: 14px;
  line-height: 24px;
  /* text-align: center; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.checkbox-container a {
  color: var(--accent-color);
  text-decoration: underline;
}
/* .checkbox {
  appearance: none;
} */
.checkbox {
  position: absolute;
  appearance: none;
}
.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;

  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 4px;
}
.checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--accent-color);
  background-size: contain;
  background-origin: content-box;
}
.form-button {
  text-align: center;
  margin-top: 30px;
}
