body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--bk-white-color);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
}
.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

textarea {
  resize: none;
}
.section {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: var(--title-text-color);

  margin-bottom: 50px;
}
