// // ---------footer--------------
.footer {
  background-color: var(--bk-dark-color);

  padding: 60px 0;
}
.footer-body {
  text-align: center;
}
// .footer-body {
//   display: flex;
//   align-items: baseline;
//   justify-content: space-between;
// }

// /* .footer-item:nth-child(2) {
//   margin-left: 94px;
// } */
.footer-item {
  margin-top: 60px;
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--bk-white-color);

  margin-bottom: 20px;
}
.footer .hero-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 28px;
  min-width: 200px;
  margin: 20px auto;
}
/* ------------------------------------------------------- */
.foot-media-bk {
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-icon-media {
  fill: var(--bk-white-color);
}
.foot-media-bk:hover,
.foot-media-bk:focus {
  background-color: var(--accent-color);
}
.foot-media-bk {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
}
.foot-media-bk + .foot-media-bk {
  margin-left: 10px;
}
/* -------------------------------------------------------- */
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--bk-white-color);
  display: inline-block;

  margin-bottom: 20px;
}
.footer-logo span {
  color: var(--accent-color);
}
.foot-address:not(:last-child) {
  margin-bottom: 9px;
}
.foot-adr-link {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-adr-link:hover,
.foot-adr-link:focus {
  color: var(--bk-white-color);
}
.foot-adr-link.current {
  color: var(--bk-white-color);
}

// .subscribe-form {
//   display: flex;
// }
.subscribe-area {
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  //   width: 358px;
  width: 100%;
  max-width: 450px;
  background-color: inherit;
  margin-right: 12px;
}
