// -------------------------hero---------------------------
.hero {
  background-color: var(--bk-dark-color);
  text-align: center;

  // padding: 200px 0;
  padding: 118px 0;
}
.hero__title {
  font-weight: 900;
  // font-size: 44px;
  // line-height: 1.36;
  // letter-spacing: 0.06em;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--bk-white-color);

  // width: 696px;
  width: 360px;
  margin: 0 auto 30px auto;
}

// -------------------advantages-----------------
.advantages__item-area {
  background-color: var(--secondary-bk-color);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
}
.advantages__item:not(:first-child) {
  margin-top: 30px;
}
.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);

  margin-bottom: 10px;

  text-align: center;
}
.advantages__text {
  font-size: 14px;
  line-height: 1.7;
}
// ----------------occupations---------------
.occupations {
  display: none;
}
// ----------------team--------------
.team {
  background-color: var(--secondary-bk-color);
}
.team-card + .team-card {
  margin-top: 30px;
}
.team-card-text {
  background-color: var(--bk-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  padding: 30px 0;
}
.member-name {
  font-weight: 500;
  text-align: center;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.8;

  margin-bottom: 10px;
}
.member-job {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
}
/* ------------------------------icons--------------------------- */
.team-media-body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}
.team-media-bk {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-media-bk > .icon-media {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-media-bk + .team-media-bk {
  margin-left: 10px;
}

.team-media-bk:hover .icon-media,
.team-media-bk:focus .icon-media {
  fill: var(--bk-white-color);
}
.team-media-bk:hover,
.team-media-bk:focus {
  background-color: var(--accent-color);
}

.icon-media {
  fill: #afb1b8;
}
// ----------------clients--------------
.clinets-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
// .clinets-item + .clinets-item {
//   margin-left: 30px;
// }
.clinets-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 3%;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clinets-item:hover,
.clinets-item:hover .clinets-icon,
.clinets-item:focus,
.clinets-item:focus .clinets-icon {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}
.clinets-icon {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// // --------------------------advantages--------------------

// .advantages__items {
//   display: flex;
// }

// .advantages__item {
//   width: 270px;
//   & + .advantages__item {
//     margin-left: 30px;
//   }
// }

// .advantages__item-area {
//   background-color: var(--secondary-bk-color);

//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 120px;
//   margin-bottom: 30px;
// }

// .advantages__title {
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.14;
//   text-transform: uppercase;
//   color: var(--title-text-color);

//   margin-bottom: 10px;
// }

// .advantages__text {
//   font-size: 14px;
//   line-height: 1.7;
// }
// // ------------------occupations------
// .occupations-pic {
//   position: relative;
// }
// .occup-pic-title {
//   position: absolute;
//   bottom: 0;
//   left: 0;

//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.14;
//   text-transform: uppercase;

//   color: var(--bk-white-color);
//   background-color: rgba(47, 48, 58, 0.8);
//   width: 100%;
//   height: 70px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// .occupations.section {
//   padding-top: 0;
// }
// .occupations-pics {
//   display: flex;
// }
// .occupations-pic:not(:first-child) {
//   margin-left: 30px;
// }
// //------------------------------team---------------------------------
// .team {
//   background-color: var(--secondary-bk-color);
// }
// .team-cards {
//   display: flex;
// }
// .team-card + .team-card {
//   margin-left: 30px;
// }
// .team-card-text {
//   background-color: var(--bk-white-color);
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;

//   padding: 30px 0;
// }
// /* ------------------------------icons--------------------------- */
// .team-media-body {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-top: 16px;
// }
// .team-media-bk {
//   display: flex;
//   justify-content: center;
//   width: 44px;
//   height: 44px;
//   border-radius: 50%;
//   align-items: center;

//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// .team-media-bk > .icon-media {
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// .team-media-bk + .team-media-bk {
//   margin-left: 10px;
// }

// .team-media-bk:hover .icon-media,
// .team-media-bk:focus .icon-media {
//   fill: var(--bk-white-color);
// }
// .team-media-bk:hover,
// .team-media-bk:focus {
//   background-color: var(--accent-color);
// }

// .icon-media {
//   fill: #afb1b8;
// }
// /* ------------------------------------------------------------------- */
// .member-name {
//   font-weight: 500;
//   text-align: center;
//   color: var(--title-text-color);
//   font-size: 16px;
//   line-height: 1.8;

//   margin-bottom: 10px;
// }
// .member-job {
//   text-align: center;
//   font-size: 16px;
//   line-height: 1.19;
// }
// /* ----------------------------clinets----------------------------------- */
// .clinets-body {
//   display: flex;
//   justify-content: center;
// }
// .clinets-item + .clinets-item {
//   margin-left: 30px;
// }
// .clinets-item {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 170px;
//   height: 92px;
//   border: 1px solid #afb1b8;
//   border-radius: 3%;

//   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// .clinets-item:hover,
// .clinets-item:hover .clinets-icon,
// .clinets-item:focus,
// .clinets-item:focus .clinets-icon {
//   border-color: var(--accent-color);
//   fill: var(--accent-color);
// }
// .clinets-icon {
//   fill: #afb1b8;

//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
